@{
  Layout = "_Layout";
}

@model Salon.Models.Client

<h3>@Model.Name</h3>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to list", "Index")
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>